body {
    font-family: 'Open Sans', sans-serif;
   background-blend-mode: multiply;

  background: url(../images/background.jpg) rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
}
header h3 {
    padding: 15px;
    font-weight: 700;
    font-size: xx-large;
    color:whitesmoke;
    Text-align: center;
}
.infor h1{
    color: white;
    Text-align: center;
}
.infor p {
    font-size: larger;
    font-weight: 400;
    color: white;
}
form {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 50px;
    background: url(../images/grey.jpeg);
    padding: 20px;
    width: 80%;
    margin-left: 25%;
    color: white;
}
legend {
    text-align: center;
    color: White;
}
input[type=number],
[type="radio"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: black;
}
.copyright{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    min-height: 5vh;
    justify-content: center;
    opacity: 0.7;
    padding: 10px;
}