body {
    font-family: 'Open Sans', sans-serif;
   background-blend-mode: multiply;

  background: url(../images/background.jpg) rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
}
header h3 {
    padding: 15px;
    font-weight: 700;
    font-size: xx-large;
    color:whitesmoke;
    Text-align: center;
}
.infor h1{
    color: white;
    Text-align: center;
}
.infor p {
    font-size: larger;
    font-weight: 400;
    color: white;
}
form {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-radius: 50px;
    background: url(../images/grey.jpeg);
    padding: 20px;
    width: 80%;
    margin-left: 25%;
    color: white;
}
legend {
    text-align: center;
    color: White;
}